.load-more-btn {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.article-item p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}