@import "/src/theme/theme-variables.scss";

.side-container {
  border-right: 1px solid rgba(#000, 0.2);
  .form-check {
    font-size: 12px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(#000, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-search {
  min-width: 150px;
  border: 1px solid $blue;
  color: $light;
  background-color: $blue;
  /*&:hover,
  &:focus {
    background-color: $blue;
    color: $light;
  }*/
}
