<div class="advanced-search-container container-fluid container-lg px-0 px-md-4 py-4">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="row mb-md-2">
      <div class="col-12 px-5 px-md-4 text-center">
        <h5 class="fw-bold text-blue">BÚSQUEDA AVANZADA</h5>
        <div class="divider mt-4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 side-container px-5 pb-2 px-md-4">
        <label class="fw-bold form-group-label">ESTADO DE LA NORMA</label>
        <div class="form-check text-small">
          <input
            class="form-check-input"
            type="radio"
            id="normativeState--default"
            name="normativeState"
            [value]="null"
            [(ngModel)]="params.state"
          />
          <label class="form-check-label" for="normativeState--default"> Todos los estados </label>
        </div>
        <div class="form-check text-small" *ngFor="let state of states; let i = index">
          <input
            class="form-check-input"
            type="radio"
            id="normativeState--{{ i }}"
            name="normativeState"
            [value]="state.state"
            [(ngModel)]="params.state"
          />
          <label class="form-check-label" for="normativeState--{{ i }}">
            {{ state.state }} <small class="ms-2 text-accent">{{ state.count }}</small>
          </label>
        </div>

        <div class="divider"></div>

        <label class="form-group-label">TEMÁTICAS</label>

        <div class="form-check text-small">
          <input
            class="form-check-input"
            type="radio"
            id="normativeThematic--default"
            name="normativeThematic"
            [value]="null"
            [(ngModel)]="params.tematica"
          />
          <label class="form-check-label" for="normativeThematic--default">Todas las temáticas</label>
        </div>
        <div class="form-check text-small" *ngFor="let thematic of thematics; let i = index">
          <input
            class="form-check-input"
            type="radio"
            id="normativeThematic--{{ i }}"
            [value]="thematic"
            name="normativeThematic"
            [(ngModel)]="params.tematica"
          />
          <label class="form-check-label" for="normativeThematic--{{ i }}">
            {{ thematic }}
          </label>
        </div>
      </div>
      <div class="col-md-9 px-5 px-md-4 pb-4">
        <label class="form-group-label">AÑO DE PUBLICACIÓN</label>
        <div class="row">
          <div class="col-sm-6">
            <label class="form-control-label">Seleccione el año</label>
            <ng-select [(ngModel)]="params.year" placeholder="Seleccionar" (ngModelChange)="onYearChanged()">
              <ng-option *ngFor="let y of years" [value]="y">
                {{ y }}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-sm-6 mt-2 mt-lg-0">
            <label for="customRange3" class="form-control-label">Seleccione el período</label>
            <ngx-slider
              [value]="params.year_gte || slideYearSelected"
              [highValue]="params.year_lte || slideMaxYear"
              (highValueChange)="onSliderHighValueChange($event)"
              (valueChange)="onSliderValueChange($event)"
              [options]="sliderOpts"
            ></ngx-slider>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <!--<div class="col-sm-6">
            <label class="form-group-label">IDENTIFICADOR DE LA NORMA</label>
            <select class="form-select">
              <option selected disabled>Seleccionar</option>
            </select>
            <small class="text-muted"> Para multiples identificadores... </small>
          </div>-->
          <div class="col-sm-6">
            <label class="form-group-label">EMISOR DE LA NORMA</label>
            <!--<select class="form-select form-select-sm" name="organism" [(ngModel)]="params.organism">
              <option [ngValue]="null">Seleccionar</option>
              <option *ngFor="let o of organisms" [ngValue]="o">{{ o }}</option>
            </select>-->
            <ng-select [(ngModel)]="params.organism" placeholder="Seleccionar">
              <ng-option *ngFor="let o of organisms" [value]="o">
                {{ o }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="divider"></div>
        <label class="form-group-label">PALABRAS Y FRASES</label>
        <div class="row">
          <div class="col-md-3 d-flex flex-column">
            <div class="form-check text-small text-italic">
              <input
                class="form-check-input"
                type="radio"
                name="searchField"
                id="searchField1"
                value="text"
                [(ngModel)]="params.search_field"
              />
              <label class="form-check-label" for="searchField1"> En el texto de la norma </label>
            </div>
            <div class="form-check text-small text-italic">
              <input
                class="form-check-input"
                type="radio"
                name="searchField"
                id="searchField2"
                value="summary"
                [(ngModel)]="params.search_field"
              />
              <label class="form-check-label" for="searchField2"> En el resumen </label>
            </div>
            <div class="form-check text-small text-italic">
              <input
                class="form-check-input"
                type="radio"
                name="searchField"
                id="searchField3"
                value="title"
                [(ngModel)]="params.search_field"
              />
              <label class="form-check-label" for="searchField3"> En el título </label>
            </div>
            <!--<div class="form-check mt-auto text-accent">
              <input class="form-check-input" type="radio" name="searchField" id="flexRadioDefault1" />
              <label class="form-check-label" for="flexRadioDefault1"> Incluir sinónimos y variantes ortográficas </label>
            </div>-->
          </div>
          <div class="col-md-9">
            <!--<label class="form-control-label">Con todas estas palabras</label>
            <input class="form-control" />
            <label class="form-control-label mt-2">Con algunas de estas palabras</label>
            <input class="form-control" />
            <label class="form-control-label mt-2">Con esta frase exacta</label>-->
            <input class="form-control" placeholder="Palabra o frase a buscar" [(ngModel)]="params.text" />
          </div>
        </div>
        <!--<div class="divider mt-4"></div>-->
      </div>
    </div>
    <div class="divider mt-0"></div>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-search fw-bold me-2" (click)="search()">Buscar</button>
      <button class="btn btn-link text-accent" (click)="reset()"><small>Reiniciar</small></button>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
