<div class="glossary-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="d-flex flex-column align-items-center">
    <h5 class="text-blue fw-bold mb-0">GLOSARIO</h5>
    <span class="fw-bold">Breves definiciones de los términos legislativos de mayor uso</span>
    <div class="d-flex flex-column letters-container w-100 mt-4 px-4">
      <div class="d-flex flex-wrap align-items-center justify-content-center py-4">
        <div
          *ngFor="let item of letters"
          (click)="currentLetter = item"
          class="mx-2 letter"
          [class.current]="currentLetter === item"
        >
          {{ item }}
        </div>
      </div>
    </div>
    <div class="results-container mt-4 mx-4">
      <div class="row m-0">
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <span class="text-uppercase text-blue fw-bold">Canasta familiar</span>
            <p class="">
              A switch has the markup of a custom checkbox but uses the .form-switch class to render a toggle switch.
              Consider using role="switch" to more accurately convey the nature of the control to assistive technologies
              that support this role. In older assistive technologies, it will simply be announced as a regular checkbox
              as a fallback. Switches also support the disabled attribute.
            </p>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-4"></div>
  </div>
</div>
