@import "/src/theme/theme-variables.scss";

.letters-container {
  background-color: #ededed;
  color: #212121;
}

.letter {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  &.current {
    color: $accent;
    text-decoration: underline;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #61b9f9;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
