@import "/src/theme/theme-variables.scss";

.letters-container {
  background-color: #fafafa;
  color: #212121;
  border-radius: 5px;
}

.search-input {
  max-width: 250px;
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}

.search-input .form-control {
  font-style: italic;
  border-radius: 0.25rem !important;
}

.search-input .btn {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
}

.search-input .btn.hide {
  visibility: hidden;
}

.search-input .btn i {
  scale: 0.8;
  color: #6c757d;
}

.letter {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  &.current {
    color: $accent;
    text-decoration: underline;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #61b9f9;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.results-container {
  width: 100%;
  clear: both;
  // min-height: 300px;
}

.results-container .term {
  break-inside: avoid;
  padding: .25rem .5rem;
}

.results-container .term .title {
  cursor: pointer;
  line-height: 1;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    display: flex;
    align-items: center;
    > i {
      margin-left: auto !important;
    }
  }
  // &:hover {
  //   color: lighten($color: #141e30, $amount: 20)  !important;
  // }
}

.results-container .term .title > i {
  transition: transform 0.2s ease;
  will-change: transform;
}
.results-container .term .title > i.open {
  transform: rotate(45deg);
}

.results-container .term .description {
  border-radius: 5px;
  min-height: 100px;
}