<div class="how-to-search-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="d-flex flex-column align-items-center">
    <h5 class="text-blue fw-bold">COMO BUSCAR</h5>

    <div class="how-to-container row p-4 p-lg-0 mt-4">
      <div class="col-lg-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
