@import "/src/theme/theme-variables.scss";

.result-item {
  //min-height: 250px;
  cursor: pointer;
  background-color: $surface;
  //border: 1px solid rgba($blue-light, 0.2);
  .result-summary {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    font-weight: bold;
  }

  .result-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
  }

  .result-state {
    color: $light;
    font-size: 14px;
    text-align: center;
    background-color: $blue;
    min-width: 100px;
  }

  &-active {
    .result-state {
      background-color: $accent;
    }
  }
}
