<div class="bg-blue-light my-5">
  <h5 class="border-bottom p-4 text-center fw-bold mb-0">NORMATIVA RECIENTE</h5>
  <div class="d-flex flex-column px-4 py-2 border-bottom">
    <h6 class="mb-1 fw-bold">TÍTULO DE LA GACETA</h6>
    <span class="text-italic fw-light">Fecha de publicación</span>
  </div>
  <div class="recent-container row mx-0 py-3">
    <div class="col-md-6 col-sm-12 px-4 pb-4" *ngFor="let item of items">
      <div class="recent-item pb-2">
        <h6 class="text-accent mb-0 fw-bold">{{ item.title }}</h6>
        <span class="text-blue text-uppercase fw-bold">{{ item.subject }}</span>
        <p class="mb-1">
          {{ item.content }}
        </p>
        <small class="text-blue text-italic fw-bold">{{ item.keywords.join(', ') }}</small>
      </div>
    </div>
  </div>
</div>
