<div class="bg-blue-light my-4">
  <h5 class="border-bottom p-4 text-center">NORMATIVA RECIENTE</h5>
  <div class="d-flex flex-column px-4 py-2 border-bottom">
    <h6 class="mb-1">TITULO DE LA GACETA</h6>
    <span class="text-muted text-italic">Fecha de publicacion</span>
  </div>
  <div class="d-flex flex-wrap recent-container">
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="recent-item w-50">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
  </div>
</div>
