<div class="infographics-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="d-flex flex-column align-items-center">
    <h5 class="text-blue fw-bold mb-0">INFOGRAFÍAS</h5>
    <!--<span class="fw-bold">Herramientas...</span>-->
  </div>
  <div class="row mt-4" *ngIf="results as res; else loading">
    <div class="row mb-3" *ngFor="let item of res.results; let isOdd = odd">
      <div class="col-sm-5" *ngIf="isOdd">
        <img class="img-fluid h-100" [src]="item.imagen" />
      </div>
      <div class="col-sm-7">
        <div class="article bg-surface d-flex flex-column">
          <small class="fw-bold text-light bg-accent text-center px-2 py-3 mb-0">
            {{ item.titulo }}
          </small>
          <div class="p-4 d-flex flex-column flex-grow-1">
            <div class="flex-grow-1">
              <p>
                {{ item.descripcion }}
              </p>
            </div>
            <a class="text-accent text-small text-italic fw-bold ms-auto" routerLink="/infografias/{{ item.id }}"
              >Leer más</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-5" *ngIf="!isOdd">
        <img class="img-fluid h-100" [src]="item.imagen" />
      </div>
    </div>

    <!-- <div class="col-md-6 ps-lg-4">
      <div class="info-img d-flex align-items-start justify-content-center position-relative">
        <div class="overlay" [ngStyle]="{ 'background-image': 'url(' + (images || [{ url: '' }])[0].url + ')' }"></div>
        <img class="img-fluid h-100" [src]="(images || [{ url: '' }])[0].url" alt="" />
        <div class="overlay-action" (click)="openGallery(gallery)">
          <i class="fas fa-arrow-up-right-from-square fa-lg text-light"></i>
        </div>
      </div>
    </div> -->
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<ng-template #gallery let-c="close" let-d="dismiss">
  <ngx-image-gallery #gallery [conf]="config" [images]="images || []" (onClose)="c('')"></ngx-image-gallery>
</ng-template>
