@import "/src/theme/theme-variables.scss";

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(#000, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content {
  h5 {
    margin-top: 0.75rem;
  }
}
