.gazette-download {
  cursor: pointer;
}

.resume-container {
  cursor: pointer;
  .resume-toggler {
    width: 24px;
  }
  .resume-content.collapsing {
    opacity: 0;
  }
  .resume-content.show {
    opacity: 1;
  }
}

.gazettes-container {
  app-gazette-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(#000, .2);
}

.pointer {
  cursor: pointer;
}
/*
#content {
  max-height: 1490px;
}*/
