<div class="gazettes-container container-fluid container-lg px-md-4 py-4">
  <div class="row" *ngIf="!isLoading; else loading">
    <div class="col-lg-4 d-none d-lg-block">
      <app-filters [showState]="false" [showGazetteType]="true" [gazetteTypes]="types" [thematics]="thematics"
        [organisms]="organisms" (paramsChange)="onFiltersChange($event)" [params]="params">
      </app-filters>
    </div>
    <div class="col-lg-8 col-12 d-flex flex-column" id="content">
      <h5 class="text-accent mb-1 fw-bold mb-0 text-blue text-center text-lg-start">ÍNDICE DE GACETA</h5>
      <div class="d-lg-none mt-2"></div>
      <div class="resume-container row d-flex flex-column bg-surface mt-2 mx-0 text-start" *ngIf="resume">
        <div class="col-12 px-3 py-2" (click)="collapse.toggle()">
          <div class="row mx-0">
            <div class="d-flex px-0">
              <h6 class="flex-grow-1 d-flex align-items-center text-blue mb-0"><span class="me-1">{{ resume.year }}</span> - <span
                class="ms-1" *ngIf="resume.year_end">{{ resume.year_end }}</span></h6>
              <span class="resume-toggler text-blue text-center p-0 pointer">
                <i class="fas" [class.fa-angle-up]="!resumeMenuCollapsed" [class.fa-angle-down]="resumeMenuCollapsed"></i>
              </span>
            </div>
            <small class="col-4 p-0 flex-grow-1"><span class="me-1">{{ resume.gazettes.total }}</span> GACETAS ORDINARIAS</small>
            <small class="col-4 p-0 flex-grow-1"><span class="me-1">{{ resume.normatives.total }}</span> NORMAS EMITIDAS</small>
          </div>
        </div>
        <div class="col-12 pb-3" #collapse="ngbCollapse" [(ngbCollapse)]="resumeMenuCollapsed">
          <div class="row mx-0">
            <div class="col-6">
              <ng-container *ngFor="let type of resume.gazettes.types">
                <a class="row" (click)="searchByGazetteType(type.type)">
                  <small class="text-small col-2 text-end text-accent ps-0">{{ type.count }}</small>
                  <small class="text-dark text-small col-10 ps-0">{{ type.type }}</small>
                </a>
              </ng-container>
            </div>
            <div class="col-6">
              <ng-container *ngFor="let type of resume.normatives.types">
                <a class="resume-item row">
                  <small class="col-2 text-small text-end text-accent ps-0">{{ type.count }}</small>
                  <small class="col-10 text-dark text-small ps-0">{{ type.normtype }}</small>
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="results$ | async as res; else loading">
        <div class="flex-grow-1 overflow-y-auto d-flex flex-column text-center text-lg-start mt-2">
          <div class="gazettes-container d-flex flex-column justify-content-start flex-grow-1">
            <app-gazette-item
              *ngFor="let gazette of res.results | paginate: { id: 'gazettes', itemsPerPage: params.page_size || 10, currentPage: params.page || 1, totalItems: res.count }"
              [item]="gazette">
            </app-gazette-item>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="col-sm-12 mt-2">
      <pagination-controls [responsive]="true" id="gazettes" previousLabel="Atrás" nextLabel="Siguiente"
        (pageChange)="getPage($event)"></pagination-controls>
      <div class="divider"></div>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
