<div class="gazettes-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="row" *ngIf="!isLoading; else loading">
    <div class="col-lg-4 d-none d-lg-block">
      <app-filters [showState]="false" [showGazetteType]="true" [gazetteTypes]="types" [thematics]="thematics"
        [organisms]="organisms" (paramsChange)="onFiltersChange($event)" [params]="params"></app-filters>
    </div>
    <div class="col-lg-8 col-12" id="content">
      <div class="d-flex flex-column text-center text-lg-start h-100">
        <h5 class="text-accent mb-1 fw-bold mb-0 text-blue">INDICE DE GACETA</h5>
        <div class="d-lg-none mt-2"></div>
        <div class="resume-container d-none d-lg-flex px-4 py-4 row bg-blue-light mt-2 mx-0 text-start"
          *ngIf="params.year">
          <h5 class="col-12 col-lg-2 text-blue fw-bold">{{ params.year }}</h5>
          <div class="col-12 col-lg-5 d-flex flex-column flex-grow-1 mt-2 mt-lg-0">
            <span class="fw-bold text-accent">{{ resume.gazettesTotal }} GACETAS ORDINARIAS</span>
            <div class="row mt-1">
              <ng-container *ngFor="let type of resume.gazette?.types">
                <small class="col-2 text-end text-accent ps-0">{{ type.count }}</small>
                <small class="col-10 ps-0">{{ type.type }}</small>
              </ng-container>
            </div>
            <!--<small class="mt-1" ><span class="me-1 text-accent">{{ type?.count < 10 ? '&nbsp;' + type?.count : type?.count }}</span> {{ type?.type }}</small>-->
          </div>
          <div class="col-12 col-lg-5 d-flex flex-column mt-3 mt-lg-0">
            <span class="fw-bold">{{ resume.normativesTotal }} NORMAS EMITIDAS</span>
            <div class="row mt-1">
              <ng-container *ngFor="let type of resume.normative?.types">
                <small class="col-2 text-end text-accent ps-0">{{ type.count }}</small>
                <small class="col-10 ps-0">{{ type.normtype }}</small>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="gazettes-container d-flex flex-column justify-content-end mt-2 flex-grow-1" *ngIf="results$ | async as res; else loading">
          <app-gazette-item 
            *ngFor="let gazette of res.results | paginate: { id: 'gazettes', itemsPerPage: params.page_size || 10, currentPage: params.page || 1, totalItems: res.count }"
            [item]="gazette">
          </app-gazette-item>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <pagination-controls [responsive]="true" id="gazettes" previousLabel="Atrás" nextLabel="Siguiente"
      (pageChange)="getPage($event)"></pagination-controls>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>