<div class="how-to-search-container container p-5">
  <div class="d-flex flex-column align-items-center">
    <h6 class="text-accent fw-bold">COMO BUSCAR</h6>
    <div class="divider"></div>

    <div class="how-to-container row">
      <div class="col-sm-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column how-to">
          <span class="text-blue fw-bold">BUSCAR POR PALABRAS CLAVES O EXPERIENCIAS</span>
          <p class="mt-1">
            If targeting the bootstrap column class specifically you should probably use an anchor ^ instead of a
            wildcard *. Using ^ will say that the class must start with col- where as the wildcard shown will match any
            class with col- anywhere in the string, possibly having undesired effects on styles where you may have
          </p>
          <div class="divider mt-0"></div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
