@import "/src/theme/theme-variables.scss";

.normative-state {
  background-color: $blue;
  &.active {
    background-color: $accent;
  }
}

.divider {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color: rgba(#000, .1);
}

.pointer {
  cursor: pointer;
}
