<div class="normative container-fluid container-xl px-md-4 py-4">
    <div class="row" *ngIf="normative; else loading">
        <div class="col-lg-8 mb-4">
            <div class="d-flex flex-column justify-content-start ps-lg-4">
                <h1 class="text-blue mb-1 fw-bold mb-0">
                    {{ normative?.name }}
                </h1>
                <span
                    class="normative-state text-light text-uppercase px-2 me-auto mt-2"
                    style="border-radius: 5px"
                    [class.active]="isActive(normative)"
                    >{{ normative?.state }}</span
                >
                <div class="col-12 mt-3">
                    <span class="text-muted">Tipo:</span>
                    <span class="text-dark">{{ normative?.normtype }}</span>
                </div>
                <div class="col-12 mt-1">
                    <span class="text-muted">Año:</span>
                    <span class="text-dark">{{ normative?.year }}</span>
                </div>
                <div class="col-12 mt-1">
                    <span class="text-muted">Publicado en:</span>
                    <span class="text-dark"
                        >Gaceta {{ gazette?.type }} No. {{ gazette?.number
                        }}</span
                    >
                </div>
                <div class="col-12 mt-1">
                    <span class="text-muted">Emisor: </span>
                    <span class="text-dark">{{ normative?.organism }}</span>
                </div>

                <div class="divider my-4"></div>
                <div class="col-sm-12">
                    <span class="text-muted">Resumen:</span>
                    <p class="mt-1" style="line-height: 1">
                        {{ normative?.summary || "---" }}
                    </p>
                </div>

                <!-- <div class="col-sm-12">
          <span class="text-muted">Temáticas:</span>
          <div class="d-flex flex-wrap">
            <span class="text-italic text-blue fw-bold">
              <a
                *ngFor="let k of normative.keywords"
                class="text-blue me-2 text-decoration-underline"
                routerLink="/palabras-claves?keyword={{ k }}"
              >
                {{ k | decodeUri }}
              </a>
            </span>
          </div>
        </div> -->
            </div>
        </div>
        <div class="col-lg-4">
            <div
                class="gazette-details bg-blue-light d-flex flex-column align-items-start justify-content-center p-3"
                *ngIf="gazette"
            >
                <span class="text-uppercase fw-bold"
                    >Gaceta que contiene la norma</span
                >
                <span class="mt-1 mb-1 text-blue fw-bold"
                    >Gaceta {{ gazette?.type }} No. {{ gazette?.number }}</span
                >
                <div class="d-flex flex-column w-100">
                    <small class="flex-grow-1 text-small text-muted"
                        >{{ gazette?.date | date: "dd/MM/YYYY" }}</small
                    >
                    <div class="d-flex flex-column mt-3 align-items-end">
                        <button
                            class="btn btn-light btn-sm w-100"
                            (click)="showGazettePdf(gazette?.file, normative.startpage)"
                        >
                            <i
                                class="fas fa-arrow-up-right-from-square me-2"
                            ></i>
                            LEER NORMA
                        </button>
                        <button
                            class="btn btn-light btn-sm w-100 mt-2"
                            fileSaver
                            [fileName]="gazette?.file"
                            [http]="downloadGazettePdf(gazette?.id, gazette?.file)"
                        >
                            <i class="fas fa-download me-2"></i> DESCARGAR
                            GACETA COMPLETA
                        </button>
                        <button
                            class="btn btn-light btn-sm w-100 mt-2"
                            *ngIf="normative.startpage && normative.endpage"
                            fileSaver
                            [fileName]="gazette?.file"
                            [http]="downloadGazettePdfPages(gazette?.id, gazette?.file, normative.startpage, normative.endpage)"
                        >
                            <i class="fas fa-download me-2"></i> DESCARGAR NORMA
                            ESPECÍFICA
                        </button>
                        <!-- <small
              class="text-small text-blue me-3 pointer"
              (click)="showGazettePdf(gazette?.file, normative.startpage)"
              style="font-size: 10px !important"
              ><i class="fas fa-eye me-1"></i> VER</small
            >
            <small
              class="text-small text-blue me-3 pointer"
              style="font-size: 10px !important"
              fileSaver
              [fileName]="gazette?.file"
              [http]="downloadGazettePdf(gazette?.id, gazette?.file)"
              ><i class="fas fa-file-download me-1"></i> DESCARGAR</small
            >
            <small
              *ngIf="normative.startpage && normative.endpage"
              class="text-small text-blue pointer"
              fileSaver
              [fileName]="gazette?.file"
              style="font-size: 10px !important"
              [http]="downloadGazettePdfPages(gazette?.id, gazette?.file, normative.startpage, normative.endpage)"
              ><i class="fas fa-file-download me-1"></i> DESCARGAR (Paginas {{ normative.startpage }}-{{
                normative.endpage
              }})</small> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <app-loader></app-loader>
    </ng-template>
</div>
