<div class="article-container container-fluid container-lg px-0 px-md-4 pt-5 pb-4">
  <div class="row mx-2">
    <div class="col-md-7 pe-md-5 mt-4 mt-md-0 order-2 order-md-1">
      <h3 class="fw-bold">{{ article?.title }}</h3>
      <div class="divider my-4"></div>
      <div class="mt-5 html-content" [innerHTML]="article?.body">
      </div>
    </div>
    <div class="col-md-5 order-1 order-md-2">
      <img class="img-fluid" src="https://api.eltoque.com{{ article?.feature_image?.url }}"> 
    </div>
  </div>
</div>