@import "/src/theme/theme-variables";

.directory-item {
  position: relative;
}

.directory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .directory-icon {
    svg {
      height: 38px;
    }
    &.active {
      svg path {
        fill: $accent !important;
      }
    }
  }
  .directory-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    color: $light;
  }
}

.directory-children {
}
