/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Helpers

.text-accent {
  color: $accent !important;
}

.text-blue {
  color: $blue !important;
}

.text-italic {
  font-style: italic !important;
}

.text-small {
  font-size: 12px !important;
}

.bg-accent {
  background-color: $accent !important;
}

.bg-surface {
  background-color: $surface !important;
}

.bg-blue-light {
  background-color: $blue-light !important;
}

.bg-blue {
  background-color: $blue !important;
}

// Form

.form-group-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control-label {
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.form-select,
.form-control {
  &:focus {
    box-shadow: 0 0 0 0.15rem rgba($accent, 0.25);
    border: 1px solid rgba($accent, 0.25);
  }
}

.form-check {
  .form-check-input {
    &:checked {
      background-color: $accent;
      border-color: $accent;
      box-shadow: 0 0 0 0.15rem rgba($accent, 0.25);
    }
  }
}

// Carousel
.carousel {
  .carousel-arrow {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    color: $accent;
    transform: scale(1.5);

    &-prev {
      left: -50px !important;
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053";
      }
    }

    &-next {
      right: -50px !important;
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
      }
    }
  }

  .carousel-container {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
}

.ngx-slider {
  .ngx-slider-bar-wrapper {
    margin-top: -32px !important;
  }
  .ngx-slider-pointer {
    background-color: $accent !important;
    border-radius: 3px !important;
    transform: scale(0.5);
    top: -30px !important;
    &::after {
      display: none;
    }
    &.ngx-slider-active {
      outline: none !important;
    }
    &.ngx-slider-active::after {
      display: block;
      background-color: $light !important;
    }
  }
  .ngx-slider-span {
    font-size: 12px !important;
  }
  .ngx-slider-bubble {
    bottom: -16px !important;
  }
  .ngx-slider-selection {
    background: $accent !important;
  }
}

// Dividers
.divider-dark {
  width: 100%;
  height: 1px;
  background-color: rgba($dark, 0.25);
}

.ngx-pagination {
  padding-left: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ngx-pagination .current {
  background: $accent !important;
  border-radius: 0.35rem;
}

// Body Scrollbar style
/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #b7b7b7 #e5e5e5;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #e5e5e5;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 20px;
  //border: 3px solid #b7b7b7;
}

svg {
  pointer-events: none;
}

mark {
  //background-color: rgba($blue, 0.45);
  //font-weight: bold;
  color: currentColor;
}
