/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.text-accent {
  color: #cd3836 !important;
}

.bg-accent {
  background-color: #cd3836 !important;
}

.bg-disabled {
  background-color: #687a88 !important;
}

.bg-gray {
  background-color: #ededed !important;
}

.text-italic {
  font-style: italic !important;
}

.text-small {
  font-size: 12px !important;
}

.bg-blue-light {
  background-color: $background-blue-light !important;
}

.text-blue {
  color: $text-blue !important;
}

.bg-blue {
  background-color: $background-blue !important;
}

.form-group-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control-label {
  font-size: 14px;
}

// Carousel
.carousel {
  .carousel-arrow {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    color: $accent-color;
    transform: scale(1.5);

    &-prev {
      left: -50px !important;
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053";
      }
    }

    &-next {
      right: -50px !important;
      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
      }
    }
  }

  .carousel-container {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
}
