/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// Helpers

html,
body {
  text-justify: distribute;
  font-weight: normal;
  letter-spacing: 0;
  &.modal-open {
    overflow: hidden;
  }
}

.text-accent {
  color: $accent !important;
}

.text-blue {
  color: $blue !important;
}

.text-italic {
  font-style: italic !important;
}

.text-small {
  font-size: 14px !important;
}

.bg-accent {
  background-color: $accent !important;
}

.bg-surface {
  background-color: $surface !important;
}

.bg-blue-light {
  background-color: $blue-light !important;
}

.bg-blue {
  background-color: $blue !important;
}

// Form

.form-group-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-control-label {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0.15rem;
}

.form-select,
.form-control {
  font-weight: 400;
  font-size: 14px;
  &:focus {
    box-shadow: 0 0 0 0.15rem rgba($accent, 0.25);
    border: 1px solid rgba($accent, 0.85);
  }
  &::placeholder {
    color: rgba($dark, 0.5) !important;
  }
}

.form-check-input {
  &:checked {
    background-color: $accent !important;
    border-color: $accent;
    box-shadow: 0 0 0 0.15rem rgba($accent, 0.25) !important;
  }
  &:focus {
    border-color: $accent;
    box-shadow: 0 0 0 0.15rem rgba($accent, 0.25) !important;
  }
}

// Carousel
.carousel {
  z-index: 800 !important;
  .carousel-arrow {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    color: $accent;
    transform: scale(1.5);

    &-prev {
      left: -50px !important;
      &::after {
        width: 24px;
        height: 24px;
        content: " ";
        background-image: url("/assets/chevron-left.svg");
      }
    }

    &-next {
      right: -50px !important;
      &::after {
        content: " ";
        width: 24px;
        height: 24px;
        background-image: url("/assets/chevron-right.svg");
      }
    }
  }

  .carousel-container {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

.ngx-slider {
  margin-top: 28px !important;
  &[disabled] {
    .ngx-slider-pointer {
      background-color: #ccc !important;
    }
    .ngx-slider-selection {
      background: #ccc !important;
    }
  }
  .ngx-slider-bar-wrapper {
    margin-top: -32px !important;
  }
  .ngx-slider-pointer {
    background-color: $accent !important;
    border-radius: 3px !important;
    scale: 0.5 !important;
    top: -30px !important;
    &::after {
      display: none;
    }
    &.ngx-slider-active {
      outline: none !important;
    }
    &.ngx-slider-active::after {
      display: block;
      background-color: $light !important;
    }
  }
  .ngx-slider-span {
    font-size: 12px !important;
  }
  .ngx-slider-bar {
    background-color: #ccc !important;
  }
  .ngx-slider-limit {
    color: $secondary !important;
  }
  .ngx-slider-bubble {
    bottom: -16px !important;
  }
  .ngx-slider-selection {
    background: $accent !important;
  }
}

.ng-select {
  height: 35px !important;
  &.ng-select-focused {
    .ng-select-container {
      box-shadow: 0 0 0 0.15rem rgba($accent, 0.25) !important;
      border: 1px solid rgba($accent, 0.85) !important;
    }
  }
  &.ng-select-opened {
    .ng-select-container .ng-arrow {
      transform: rotate(180deg);
      top: 0;
      border: none;
    }
  }
  .ng-clear-wrapper {
    .ng-clear {
      visibility: collapse;
      font-size: 11px !important;
      display: block !important;
      color: rgba($secondary, 0.55);
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00d";
        visibility: visible;
      }
    }
    &:hover .ng-clear {
      color: $accent;
    }
  }
  .ng-arrow-wrapper {
    .ng-arrow {
      border: none;
      display: inline !important;
      color: $secondary;
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f078";
        font-size: 12px;
        //color: #b7b7b7;
      }
    }
  }
  .ng-select-container {
    box-shadow: none !important;
    .ng-value-container .ng-value {
      font-size: 14px !important;
    }
    .ng-value-container .ng-input input {
      font-weight: 400 !important;
      font-size: 14px !important;
    }
    .ng-value-container .ng-placeholder {
      font-weight: 400 !important;
      font-size: 14px !important;
      color: rgba($dark, 0.5);
    }
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    //padding: 4px 10px;
    transition: all 0.1s ease;
    font-size: 14px;
    &.ng-option-selected {
      background-color: rgba($secondary, 0.1);
    }
    &.ng-option-marked {
      background-color: rgba($secondary, 0.1);
    }
  }
}

// Dividers
.divider-dark {
  width: 100%;
  height: 1px;
  background-color: rgba($dark, 0.25);
}

.ngx-pagination {
  padding-left: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ngx-pagination .current {
  background: $accent !important;
  border-radius: 0.35rem;
}

// Body Scrollbar style
/* Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #b7b7b7 #e5e5e5;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #e5e5e5;
}

*::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 20px;
  //border: 3px solid #b7b7b7;
}

svg {
  pointer-events: none;
}

mark {
  //background-color: rgba(#fcf8e3, 0.6);
  font-weight: bold;
  color: currentColor;
  padding: 0 0.3rem;
}

a {
  cursor: pointer;
}

blockquote {
  font-weight: bold;
}

// TEMP FIX
.promotion-ql {
  display: none;
}

.gallery-backdrop {
  opacity: 0.8 !important;
}

.gallery-modal {
  max-width: 90vw !important;
  .modal-content {
    border: none !important;
    background-color: transparent !important;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .inline {
      height: 100%;
    }
    .title {
      color: #fafafa !important;
    }
    .close::before {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI1MTJweCIgdmVyc2lvbj0iMS4xIiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0Ij4NCiAgPGc+DQogICAgPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTI4Ljk0MSwzMS43ODZMMC42MTMsNjAuMTE0Yy0wLjc4NywwLjc4Ny0wLjc4NywyLjA2MiwwLDIuODQ5YzAuMzkzLDAuMzk0LDAuOTA5LDAuNTksMS40MjQsMC41OSAgIGMwLjUxNiwwLDEuMDMxLTAuMTk2LDEuNDI0LTAuNTlsMjguNTQxLTI4LjU0MWwyOC41NDEsMjguNTQxYzAuMzk0LDAuMzk0LDAuOTA5LDAuNTksMS40MjQsMC41OWMwLjUxNSwwLDEuMDMxLTAuMTk2LDEuNDI0LTAuNTkgICBjMC43ODctMC43ODcsMC43ODctMi4wNjIsMC0yLjg0OUwzNS4wNjQsMzEuNzg2TDYzLjQxLDMuNDM4YzAuNzg3LTAuNzg3LDAuNzg3LTIuMDYyLDAtMi44NDljLTAuNzg3LTAuNzg2LTIuMDYyLTAuNzg2LTIuODQ4LDAgICBMMzIuMDAzLDI5LjE1TDMuNDQxLDAuNTljLTAuNzg3LTAuNzg2LTIuMDYxLTAuNzg2LTIuODQ4LDBjLTAuNzg3LDAuNzg3LTAuNzg3LDIuMDYyLDAsMi44NDlMMjguOTQxLDMxLjc4NnoiLz4NCiAgPC9nPg0KPC9zdmc+DQo=) !important;
    }
    .images-container {
      width: 80% !important;
      margin: auto !important;
    }
  }
}

.modal-dialog {
  @include media-breakpoint-down(xl) {
    max-width: 90vw;
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.modal-footer {
  padding: 0.25rem !important;
}
