<div class="thematic-directory container p-5">
  <div class="row">
    <div class="col-sm-4 bg-blue">
      <div class="subject-grid row align-items-center">
        <div
          class="subject-item col-lg-4 col-md-6 col-sm-12"
          *ngFor="let item of subjects; let i = index"
          (click)="currentSubject = i"
        >
          <img *ngIf="i !== currentSubject" src="/assets/directory-icon.png" alt="" />
          <img *ngIf="i === currentSubject" src="/assets/directory-icon-selected.png" alt="" />
          <span class="subject-title">{{ item }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-8 ps-0">
      <div class="d-flex flex-column ps-4">
        <h6 class="text-accent mb-1 fw-bold">DIRECTORIO TEMÁTICO</h6>
        <span class="text-blue text-italic fw-bold">Normativa vigente</span>
      </div>
      <div class="divider"></div>

      <div class="d-flex align-items-center my-4 ps-4">
        <img src="/assets/directory-icon-selected.png" alt="" />
        <h6 class="text-blue mx-4 mb-0 fw-bold">ADMINISTRATIVA</h6>
        <span class="text-accent"> 15 Normativas vigentes relacionadas </span>
      </div>

      <div class="ps-4">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="text-accent fw-bold">Ley General de la Vivienda</span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="text-accent fw-bold">Ley General de la Vivienda</span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="text-accent fw-bold">Ley General de la Vivienda</span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
