@import "/src/theme/theme-variables";

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  margin-top: 1rem;
}

.hide-sm {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.directory-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  .directory-menu-row {
    margin: 0;
  }
  .directory-menu-toggle {
    cursor: pointer;
  }
  .directory-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.25rem;
    cursor: pointer;
    &.active {
      .directory-icon svg path {
        fill: $accent;
      }
      .directory-name {
        color: $accent;
      }
    }
    &:hover:not(.active) {
      .directory-name {
        color: $light;
      }
    }
    .directory-icon {
      margin-bottom: 0.5rem;
      svg {
        height: 34px;
        path {
          fill: rgba($color: $light, $alpha: 0.85);
        }
      }
    }
    .directory-name {
      text-align: center;
      line-height: 1;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      @include media-breakpoint-down(lg) {
        font-size: 8px;
      }
      color: rgba($color: $light, $alpha: 0.75);
      transition: color 0.1s ease;
    }
  }
}

.directory-results {
  display: flex;
  flex-direction: column;
  .breadcrumb-link {
    cursor: pointer;
  }
  .directory-icon {
    svg {
      height: 38px;
      path {
        fill: $accent !important;
      }
    }
  }
}

#content {
  min-height: 300px;
}

.directory-children {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    background-color: $surface;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    a {
      font-size: 12px;
      cursor: pointer;
      color: $blue !important;
    }
  }
}
