<div class="about-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="d-flex flex-column align-items-center">
    <h5 class="text-blue fw-bold">QUIÉNES SOMOS</h5>
    
    <div class="container">
      <p class="fw-bold text-center">
      Somos un grupo de juristas, programadores y científicos de la información que pretendemos ofrecer a la ciudadanía cubana una forma más amena y accesible de acercarse a la amplia y dispersa legislación cubana. No pretendemos suplantar al sitio de la Gaceta Oficial sino facilitar la búsqueda de las normativas vigentes en el país. Pretendemos además concentrar en una misma plataforma las normativas vigentes e información jurídica de interés general de la ciudadanía. Creemos que el acceso oportuno a información de este tipo es un primer paso para el ejercicio de derechos y la construcción de ciudadanía.
      <br/>
      <br/>
      Legalis es una plataforma en constante construcción que requerirá del aporte de todos para su crecimiento y sostén.
    </p>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-4 mb-4" *ngFor="let item of team">
      <div class="d-flex flex-column align-items-center">
        <img class="img-circle" [src]="item.imagen || '/assets/generic-image.webp'" />
        <span class="text-uppercase text-blue fw-bold mt-2">{{ item.nombre }}</span>
        <span class="text-uppercase text-small text-center">
          {{ item.descripcion }}
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
