<div class="about-container p-5 container">
  <div class="d-flex flex-column align-items-center">
    <h6 class="text-blue fw-bold">QUIÉNES SOMOS</h6>
  </div>
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img class="img-circle" src="/assets/generic-image.webp" alt="" />
        <span class="text-uppercase text-blue fw-bold mt-2">Nombre</span>
        <span class="text-uppercase text-small text-center">
          Browser default checkboxes and radios are replaced with the help of...
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img class="img-circle" src="/assets/generic-image.webp" alt="" />
        <span class="text-uppercase text-blue fw-bold mt-2">Nombre</span>
        <span class="text-uppercase text-small text-center">
          Browser default checkboxes and radios are replaced with the help of...
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="d-flex flex-column align-items-center">
        <img class="img-circle" src="/assets/generic-image.webp" alt="" />
        <span class="text-uppercase text-blue fw-bold mt-2">Nombre</span>
        <span class="text-uppercase text-small text-center">
          Browser default checkboxes and radios are replaced with the help of...
        </span>
      </div>
    </div>
  </div>
</div>
