<div class="advanced-search-container container p-5">
  <div class="row">
    <div class="col-md-4 side-container px-4">
      <h6>ESTADO DE LA NORMA</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Todos los estados <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Vigente <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Derogada <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Estado <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Estado <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="divider"></div>
      <h6 class="mt-4">TEMATICAS</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Todas las tematicas <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Administrativas <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Aduana <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Civil <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Constitucional <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Civil <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Civil <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Civil <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
        <label class="form-check-label" for="flexRadioDefault1">
          Civil <span class="ms-2 fw-bold text-accent">24</span>
        </label>
      </div>
    </div>
    <div class="col-md-8 px-4">
      <h6>ANO DE PUBLICACION</h6>
      <div class="row">
        <div class="col-sm-6">
          <label class="form-control-label">Seleccione el ano</label>
          <select class="form-select">
            <option selected disabled>Seleccionar</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="customRange3" class="form-label">Seleccione el periodo</label>
          <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" />
        </div>
      </div>
      <div class="divider"></div>
      <h6 class="mt-4">IDENTIFICADOR DE LA NORMA</h6>
      <div class="d-flex flex-column">
        <select class="form-select w-75">
          <option selected disabled>Seleccionar</option>
        </select>
        <small class="helper-text"> Para multiples identificadores... </small>
      </div>
      <div class="divider"></div>
      <h6 class="mt-4">PALABRAS Y FRASES</h6>
      <div class="row">
        <div class="col-md-4">
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
            <label class="form-check-label" for="flexRadioDefault1"> En el titulo de la norma </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
            <label class="form-check-label" for="flexRadioDefault1"> En el resumen </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
            <label class="form-check-label" for="flexRadioDefault1"> En el resumen </label>
          </div>
        </div>
        <div class="col-md-8">
          <label class="form-control-label">Con todas estas palabras</label>
          <input class="form-control" />
          <label class="form-control-label mt-2">Con algunas de estas palabras</label>
          <input class="form-control" />
          <label class="form-control-label mt-2">Con esta frase exacta</label>
          <input class="form-control" />
        </div>
      </div>
      <div class="divider"></div>
      <h6 class="mt-4">EMISOR DE LA NORMA</h6>
      <select class="form-select w-75"></select>
    </div>
  </div>
  <div class="divider"></div>
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-outline-dark text-accent">BUSCAR</button>
  </div>
</div>
