@import "/src/theme/theme-variables.scss";

.logo {
  width: 100px;
}

.recent-item {
  border-bottom: 1px solid rgba(#000, 0.1);
  height: 100%;
  display: block;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}
