@import "/src/theme/theme-variables.scss";

.logo {
  width: 100px;
}

.recent, .info, .popular-cell, .analysis, .related-news {
  border-radius: 5px;
}

.recent .divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: auto;
}

.recent-item {
  border-bottom: 1px solid rgba(#000, 0.1);
  height: 100%;
  display: block;
  small {
    line-height: 1.2;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}

.analysis {
  background-color: $blue-light;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}

.related-news {
  @include media-breakpoint-down(lg) {
    border-radius: 0;
  }
  ::ng-deep .carousel-arrows {
    .carousel-arrow-prev {
      left: -45px !important;
    }
    .carousel-arrow-next {
      right: -45px !important;
    }
  }
  ::ng-deep .carousel-item {
    height: 100%;
    display: flex;
    position: relative;
    flex-flow: column;
    .carousel-image {
      //flex-basis: 50%;
      @include media-breakpoint-down(lg) {
        height: 50% !important;
      }
      img {
        object-fit: cover !important;
        object-position: top;
        height: 100% !important;
        padding: 0.1rem;
      }
    }
    .carousel-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      box-sizing: content-box;
      margin-top: 1rem;
      @include media-breakpoint-down(md) {
        justify-content: flex-start;
        padding-left: 0;
        padding-top: 1rem;
      }
      p {
        color: rgba($light, 0.85);
        -webkit-line-clamp: 5;
      }
    }
  }
}
