<div class="infographics-container container p-5">
  <div class="d-flex flex-column align-items-center">
    <h6 class="text-blue fw-bold">INFOGRAFÍAS</h6>
    <span class="fw-bold">Herramientas...</span>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="d-flex flex-column">
        <div class="article bg-gray">
          <h6 class="fw-bold text-light bg-accent text-center px-4 py-4 mb-0">
            Proyecto de ley de Símbolos Nacionales de la República de Cuba
          </h6>
          <div class="p-4">
            <p class="mb-3">
              Browser default checkboxes and radios are replaced with the help of .form-check, a series of classes for
              both input types that improves the layout and behavior of their HTML elements, that provide greater
              customization and cross browser consistency. Checkboxes are for selecting one or several options in a
              list, while radios are for selecting one option from many.
            </p>
            <a class="text-accent text-italic fw-bold" href="#">Leer más</a>
          </div>
        </div>
        <div class="article bg-gray mt-2">
          <h6 class="fw-bold text-light bg-blue-light text-center px-4 py-4 mb-0">
            Proyecto de ley de Símbolos Nacionales de la República de Cuba
          </h6>
          <div class="p-4">
            <p class="mb-3">
              Browser default checkboxes and radios are replaced with the help of .form-check, a series of classes for
              both input types that improves the layout and behavior of their HTML elements, that provide greater
              customization and cross browser consistency. Checkboxes are for selecting one or several options in a
              list, while radios are for selecting one option from many.
            </p>
            <a class="text-accent text-italic fw-bold" href="#">Leer más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="/assets/infografia.png" alt="" />
    </div>
  </div>
</div>
