@import "/src/theme/theme-variables.scss";

.gazette-item {
  height: 224px;
  .gazette-header {
    background-color: $blue-light;
  }

  .gazette-content.show {
    display: flex;
  }

  .gazette-content {
    background-color: $surface;
    flex-direction: column;
    overflow-y: auto;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgba($color: #000000, $alpha: .2);
    margin-top: 0.5rem;
    margin-bottom: .5rem;
  }

  .pointer {
    cursor: pointer;
  }

  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

}
