<div class="d-flex flex-column align-items-center my-4">
  <h5 class="mb-5">NORMATIVA POPULAR</h5>
  <carousel [cellWidth]="250">
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
    <div class="carousel-cell px-4 py-3 bg-blue-light">
      <h6 class="text-accent mb-0">Titulo de la norma</h6>
      <span class="text-blue">Tematica</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <span class="text-blue text-italic fw-bold">Palabras clave</span>
    </div>
  </carousel>
</div>
