<div class="d-flex flex-column align-items-center my-5">
  <h5 class="mb-5 fw-bold">NORMATIVA POPULAR</h5>
  <carousel [cellWidth]="250">
    <div class="carousel-cell px-4 py-3 bg-blue-light" *ngFor="let item of items">
      <span class="text-accent mb-0 fw-bold">{{ item.title }}</span>
      <small class="text-blue fw-bold text-uppercase">{{ item.subject }}</small>
      <p class="mb-1">
        {{ item.content }}
      </p>
      <small class="text-blue text-italic fw-bold">
        {{ item.keywords.join(', ') }}
      </small>
    </div>
  </carousel>
</div>
