@import "/src/theme/theme-variables.scss";

.letter {
  font-size: 20px;
  font-weight: 500;
  color: $light;
  cursor: pointer;
  &.current {
    color: $accent;
    text-decoration: underline;
  }
}

.keyword-panel {
  border-radius: 5px;
}

/*
.keyword-selector {
  margin: 0;
  height: 250px;
  //overflow-y: auto;
  @include media-breakpoint-down(md) {
    max-height: 500px;
  }
  .result {
    cursor: pointer;
  }
}*/

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba($color: #000000, $alpha: .1);
  margin-bottom: 1rem;
}

.divider-blue {
  width: 100%;
  height: 1px;
  background-color: rgba($color: $primary, $alpha: .1);
  margin-bottom: 1rem;
}


.filter-toggler {
  background-color: $surface;
  cursor: pointer;
}

.filter-panel {
  background-color: $surface;
  .divider {
    background-color: $divider-dark;
  }
}

.results-panel {
  h5 {
    margin-top: 0.75rem;
  }
}
