<div class="keywords-container container-fluid container-lg px-0 px-lg-4 py-4">
  <div class="d-flex flex-column align-items-center">
    <h5 class="text-blue fw-bold mb-0">PALABRAS CLAVE</h5>
    <div class="keyword-panel d-flex flex-column bg-blue w-100 mt-4">
      <div class="d-flex flex-wrap align-items-center justify-content-center py-2 px-4">
        <div
          *ngFor="let item of letters"
          (click)="onLetterChange(item)"
          class="mx-2 letter"
          [class.current]="currentLetter === item"
        >
          {{ item }}
        </div>
      </div>
      <div class="divider-blue m-0"></div>
      <div class="mx-4 py-2" style="height: 250px">
        <ng-scrollbar>
          <div class="row mx-0">
            <div
              class="result col-sm-12 col-md-6 col-lg-4 text-center p-1 text-light"
              style="cursor: pointer"
              *ngFor="let k of currentKeywords"
              (click)="onKeywordChange(k)"
              [class.text-accent]="params.keyword === k"
            >
              {{ k | decodeUri }}
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>
    <div class="row w-100 mt-0 mt-lg-3">
      <div class="d-flex col-md-4 p-0">
        <app-filters
          class="w-100"
          [states]="states"
          [thematics]="thematics"
          [organisms]="organisms"
          [params]="params"
          (paramsChange)="onFiltersChange($event)"
        ></app-filters>
      </div>
      <div class="col-md-8 px-2 ps-lg-4 pe-lg-0 results-panel" id="content">
        <h5 class="fw-bold text-blue px-4 px-lg-0 mb-0 text-center text-lg-start">{{ currentKeyword }}</h5>
        <div class="divider mt-3"></div>
        <div class="d-flex flex-column flex-lg-row align-items-start mb-2" *ngIf="results?.count">
          <small class="fw-bold"
            >Mostrando <span class="text-accent">{{ results?.count }}</span> resultados</small
          >
          <div class="d-flex mt-2 mt-lg-0 ms-lg-auto">
            <small class="fw-bold flex-grow-1 me-4">Ordenar por:</small>
            <div class="d-flex mt-1">
              <div class="form-check text-small text-italic me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  id="default_order"
                  [value]="null"
                  [(ngModel)]="currentOrder"
                  (ngModelChange)="onOrderChange()"
                />
                <label class="form-check-label" for="default_order"> Más relevantes </label>
              </div>
              <div class="form-check text-small text-italic">
                <input
                  class="form-check-input"
                  type="radio"
                  id="recent_order"
                  value="-year"
                  [(ngModel)]="currentOrder"
                  (ngModelChange)="onOrderChange()"
                />
                <label class="form-check-label" for="recent_order"> Más reciente </label>
              </div>
            </div>
          </div>
        </div>

        <div class="result-list mt-2" *ngIf="results; else loading">
          <ng-container
            *ngFor="
              let item of results.results
                | paginate
                  : {
                      id: 'results',
                      itemsPerPage: params.page_size || 10,
                      currentPage: params.page || 1,
                      totalItems: results.count
                    };
              let odd = odd
            "
          >
            <app-normative-item [item]="item"></app-normative-item>
            <div class="mb-2"></div>
          </ng-container>
          <div *ngIf="results.count === 0">
            <app-empty-results></app-empty-results>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <pagination-controls
        *ngIf="results"
        id="results"
        [responsive]="true"
        previousLabel="Atrás"
        nextLabel="Siguiente"
        (pageChange)="getPage($event)"
      ></pagination-controls>
      <div class="divider m-0"></div>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
