<div class="keywords-container container-fluid container-lg px-0 px-md-4 py-4">
  <div class="d-flex flex-column align-items-center" *ngIf="!loading; else loadingPage">
    <h5 class="text-accent fw-bold mb-0">PALABRAS CLAVE</h5>
    <div class="d-flex flex-column bg-blue w-100 mt-4">
      <div class="d-flex flex-wrap align-items-center justify-content-center py-4 px-4">
        <div
          *ngFor="let item of letters"
          (click)="setCurrentLetter(item)"
          class="mx-2 letter"
          [class.current]="currentLetter === item"
        >
          {{ item }}
        </div>
      </div>
      <div class="divider m-0"></div>
      <div class="row py-2 keyword-selector">
        <div
          class="result col-sm-12 col-md-6 col-lg-4 text-center p-2 text-light"
          *ngFor="let item of currentKeywords"
          (click)="onKeywordSelected(item)"
          [class.text-accent]="currentKeyword === item"
        >
          {{ item }}
        </div>
      </div>
    </div>
    <div class="row w-100 mt-4">
      <div class="d-none d-lg-flex col-lg-4 p-0">
        <app-filters class="w-100" [states]="normativeStates" [thematics]="normativeThematics"></app-filters>
      </div>
      <div class="col-lg-8 p-0 ps-lg-4 results-panel">
        <div class="px-4">
          <h5 class="fw-bold text-blue">{{ currentKeyword }}</h5>
        </div>
        <div class="divider"></div>
        <ng-container *ngIf="$results | async as res; else loadingResults">
          <div class="d-flex px-4 mb-4">
            <span class="text-blue fw-bold"
              >Resultados obtenidos: <span class="text-accent">{{ res.count }}</span></span
            >
            <div class="d-flex flex-lg-column mt-4 mt-lg-0 ms-auto">
              <span class="text-blue fw-bold flex-grow-1">Ordenar</span>
              <div class="d-flex mt-2">
                <div class="form-check text-small text-italic text-blue me-4">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                  <label class="form-check-label" for="flexRadioDefault1"> Relevancia </label>
                </div>
                <div class="form-check text-small text-italic text-blue">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                  <label class="form-check-label" for="flexRadioDefault1"> Más reciente </label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-lg-none">
            <div class="d-flex flex-column text-center py-4 filter-toggler" (click)="collapse.toggle()">
              <h6 class="text-uppercase">Filtros de Búsqueda</h6>
              <i
                class="fas fa-lg text-accent"
                [class.fa-chevron-down]="hideFilters"
                [class.fa-chevron-up]="!hideFilters"
              ></i>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="hideFilters" class="filter-panel">
              <div class="px-4 pb-4">
                <label class="fw-bold form-group-label text-small mt-4">ESTADO DE LA NORMA</label>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Todos los estados <span class="ms-2 fw-bold text-accent">24</span>
                  </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Vigente <span class="ms-2 fw-bold text-accent">24</span>
                  </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Derogada <span class="ms-2 fw-bold text-accent">24</span>
                  </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Estado <span class="ms-2 fw-bold text-accent">24</span>
                  </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Estado <span class="ms-2 fw-bold text-accent">24</span>
                  </label>
                </div>

                <div class="divider"></div>
                <label class="fw-bold form-group-label text-small">EMISOR</label>
                <input type="text" class="form-control form-control-sm" />

                <div class="divider"></div>
                <label class="fw-bold form-group-label text-small">AÑO DE PUBLICACIÓN</label>
                <label for="" class="form-control-label">Seleccione el año</label>
                <input type="text" class="form-control form-control-sm" />
                <label for="customRange3" class="form-control-label mt-2">Seleccione el período</label>
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3" />

                <div class="divider"></div>
                <label class="fw-bold form-group-label text-small">PALABRAS CLAVES RELACIONADAS</label>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
                <div class="form-check text-small">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Vigente </label>
                </div>
              </div>
            </div>
          </div>

          <div class="result-list mt-2">
            <ng-container
              *ngFor="
                let item of res.results
                  | paginate
                    : { id: 'results', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: res.count };
                let odd = odd
              "
            >
              <app-normative-item [item]="item"></app-normative-item>
              <div class="divider"></div>
            </ng-container>
          </div>
          <pagination-controls
            id="results"
            previousLabel="Atrás"
            nextLabel="Siguiente"
            (pageChange)="getPage($event)"
          ></pagination-controls>
        </ng-container>
        <ng-template #loadingResults>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #loadingPage>
    <app-loader></app-loader>
  </ng-template>
</div>
