@import "/src/theme/theme-variables.scss";

.letter {
  font-size: 20px;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
  &.current {
    color: $accent-color;
    text-decoration: underline;
  }
}

.keyword-selector {
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  @include media-breakpoint-down(md) {
    max-height: 500px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #61b9f9;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-toggler {
  background-color: #e7e5e6;
  cursor: pointer;
}

.filter-panel {
  background-color: #e7e5e6;
  .divider {
    background-color: rgba(#000, 0.2);
  }
}

.results-panel {
  .divider {
    background-color: rgba(#000, 0.2);
  }
}
