@import "/src/theme/theme-variables.scss";

.letter {
  font-size: 20px;
  font-weight: 500;
  color: $light;
  cursor: pointer;
  &.current {
    color: $accent;
    text-decoration: underline;
  }
}

.keyword-selector {
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  @include media-breakpoint-down(md) {
    max-height: 500px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $divider-blue-light;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter-toggler {
  background-color: $surface;
  cursor: pointer;
}

.filter-panel {
  background-color: $surface;
  .divider {
    background-color: $divider-dark;
  }
}

.results-panel {
  .divider {
    background-color: $divider-dark;
  }
}
