<header class="header-wrapper" id="top">
  <div class="header-container container">
    <div class="row m-0 h-100">
      <div class="col-lg-3 d-none d-lg-flex justify-content-start align-items-start">
        <div class="d-flex align-items-center justify-content-center pe-5 pt-5 header-social">
          <button class="btn btn-outline-light btn-sm border-2 me-3">
            <i class="fab fa-facebook"></i>
          </button>
          <button class="btn btn-outline-light btn-sm border-2 me-3">
            <i class="fab fa-instagram"></i>
          </button>
          <button class="btn btn-outline-light btn-sm border-2">
            <i class="fab fa-twitter"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col px-lg-0 p-4 align-self-start">
        <div class="container d-flex flex-column align-items-center justify-content-center h-100 p-0 pl-2">
          <a routerLink="/"><img class="img-fluid header-logo" src="/assets/legalis-logo.png" /></a>
          <small class="header-slogan my-2">Búsqueda fácil en la Legislación Cubana</small>
          <div class="input-group input-group-lg mt-4 header-search">
            <input
              class="form-control"
              type="search"
              (keyup.enter)="onSearchClicked()"
              [(ngModel)]="query"
              placeholder="Buscar..."
            />
            <button class="btn btn-outline-primary" (click)="onSearchClicked()">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-none d-lg-flex justify-content-end align-self-start">
        <nav class="header-nav ps-5 pt-5" role="navigation">
          <a routerLink="/gacetas" routerLinkActive="active">ÍNDICE DE GACETA</a>
          <a routerLink="/analisis" routerLinkActive="active">ANÁLISIS</a>
          <a routerLink="/infografias" routerLinkActive="active">INFOGRAFÍA</a>
          <a routerLink="/glosario" routerLinkActive="active">GLOSARIO</a>
          <a routerLink="/acerca-de" routerLinkActive="active">QUIÉNES SOMOS</a>
        </nav>
      </div>
    </div>
  </div>
  <nav class="header-tabs d-none d-lg-flex" role="navigation">
    <div class="tab">
      <a routerLink="/inicio" routerLinkActive="active">INICIO</a>
    </div>
    <div class="tab">
      <a routerLink="/busqueda-avanzada" routerLinkActive="active">BÚSQUEDA AVANZADA</a>
    </div>
    <div class="tab">
      <a routerLink="/directorio-tematico" routerLinkActive="active">DIRECTORIO TEMÁTICO</a>
    </div>
    <div class="tab">
      <a routerLink="/palabras-claves" routerLinkActive="active">PALABRA CLAVE</a>
    </div>
    <div class="tab">
      <a routerLink="/como-buscar" routerLinkActive="active">CÓMO BUSCAR</a>
    </div>
  </nav>
  <nav class="header-tabs d-flex flex-column d-lg-none" role="navigation">
    <div class="header-tabs-toggler" (click)="collapse.toggle()">
      <span class="text-uppercase text-accent fw-bold mb-2">Otras opciones de búsqueda</span>
      <i
        class="fas fa-lg text-accent"
        [class.fa-chevron-down]="collapseFilterNav"
        [class.fa-chevron-up]="!collapseFilterNav"
      ></i>
    </div>
    <div #collapse="ngbCollapse" class="w-100" [(ngbCollapse)]="collapseFilterNav">
      <div class="tab">
        <a routerLink="/" routerLinkActive="active">INICIO</a>
      </div>
      <div class="tab">
        <a routerLink="/advanced-search" routerLinkActive="active">BÚSQUEDA AVANZADA</a>
      </div>
      <div class="tab">
        <a routerLink="/thematic-directory" routerLinkActive="active">DIRECTORIO TEMÁTICO</a>
      </div>
      <div class="tab">
        <a routerLink="/keywords" routerLinkActive="active">PALABRA CLAVE</a>
      </div>
      <div class="tab">
        <a routerLink="/how-to-search" routerLinkActive="active">CÓMO BUSCAR</a>
      </div>
    </div>
  </nav>
  <div class="header-menu" ngbDropdown>
    <button class="dropdown-toggle" ngbDropdownToggle>
      <i class="fas fa-ellipsis-v text-primary fa-lg"></i>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <a routerLink="/gazettes" routerLinkActive="active" ngbDropdownItem>ÍNDICE DE GACETA</a>
      <a routerLink="/analysis" routerLinkActive="active" ngbDropdownItem>ANÁLISIS</a>
      <a routerLink="/infographics" routerLinkActive="active" ngbDropdownItem>INFOGRAFÍA</a>
      <a routerLink="/glossary" routerLinkActive="active" ngbDropdownItem>GLOSARIO</a>
      <a routerLink="/about" routerLinkActive="active" ngbDropdownItem>QUIÉNES SOMOS</a>
    </div>
  </div>
</header>
