@import "src/theme/theme-variables";

.header-container {
  min-height: 400px;
  background-color: $background-blue;
  background-image: url(/assets/gaceta-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    height: 300px;
  }
  @include media-breakpoint-down(md) {
    background-image: url(/assets/gaceta-home-movil.jpg);
  }
}

.header-logo {
  height: 100px;
}

.header-menu {
  a {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #61b9f9;
    font-size: 12px;
    font-weight: bold;
    color: #61b9f9;
  }
}

.header-search {
  .form-control {
    background-color: rgba($color: #fafafa, $alpha: 0.1);
    border: 1px solid rgba($color: #fafafa, $alpha: 0.1);
    color: #fafafa;
    &::placeholder {
      color: rgba(#fafafa, 0.5);
    }
    &:focus {
      box-shadow: none;
      color: #fafafa;
    }
  }
  .btn {
    &:focus,
    &:active {
      box-shadow: none;
    }
    border-color: rgba(#fafafa, 0.5);
  }
}

.header-tabs {
  background-color: $background-blue;
  width: 100%;
  //height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .tab {
    &:first-child {
      border-left: 1px solid rgba(#fafafa, 0.5);
    }
    padding: 1rem 2rem;
    border-right: 1px solid rgba(#fafafa, 0.5);
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #fafafa;
      font-weight: 700;
      font-size: 12px;
    }
    a.active {
      color: $accent-color;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      border-right: none;
      &:first-child {
        border-left: none;
        border-top: 1px solid rgba(#fafafa, 0.5);
      }
      border-bottom: 1px solid rgba(#fafafa, 0.5);
    }
  }
}
