@import "src/theme/theme-variables";

$border: 1px solid rgba($divider-light, 0.2);
$header-height: 280px;

:host {
  display: block;
  background-image: url(/assets/gaceta-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-down(md) {
    background-image: url(/assets/gaceta-home-movil.jpg);
  }

  .header-wrapper {
    position: relative;
    //background: rgb(23, 71, 138);
    //background: linear-gradient(0deg, $blue 0%, rgba(0, 0, 0, 0) 100%);
    //backdrop-filter: blur(1px);
    //background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(249, 72, 72, 0.1) 0%, #141e30 81%);
  }

  .header-container {
    height: $header-height;

    .header-social {
      button {
        border-color: rgba($light, 0.85) !important;
        color: rgba($light, 0.85) !important;
        &:hover,
        &:focus {
          border-color: transparent !important;
          background-color: $light !important;
          color: $blue !important;
        }
      }
    }

    .header-logo {
      height: 120px;
      width: auto;
    }

    .header-slogan {
      //color: $primary;
      font-size: 1rem;
      color: #fafafa;
      letter-spacing: 1.2px;
      white-space: nowrap;
      text-align: center;
    }

    .header-nav {
      display: flex;
      flex-direction: column;
      a {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-bottom: 1px solid $divider-blue-light;
        font-size: 14px;
        font-weight: 500;
        color: rgba($light, 0.85);
        &:hover {
          color: $light;
        }
        &:last-child {
          border-bottom: none;
        }
        &.active {
          background: none;
          color: $accent;
        }
      }
    }
    .header-search {
      max-width: 680px;
      box-shadow: 1px 1px 10px 5px rgba($black, 0.08);
      .form-control {
        background-color: rgba($color: $light, $alpha: 0.1);
        border: 1px solid rgba($color: $light, $alpha: 0.1);
        color: $light;
        &::placeholder {
          color: rgba($light, 0.5) !important;
        }
        &:focus {
          box-shadow: none;
          color: $light;
        }
      }
      .btn {
        &:hover,
        &:focus,
        &:active {
          color: $blue;
          box-shadow: none;
        }
      }
    }
  }

  .header-tabs {
    background-color: linear-gradient(0deg, rgba(17, 49, 94) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-toggler {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      padding: 1rem;
      user-select: none;
    }

    .tab {
      padding: 1rem 1.2rem;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      //border-right: 1px solid rgba($color: $blue-light, $alpha: 0.25);
      //&:first-child {
      //border-left: 1px solid rgba($color: $blue-light, $alpha: 0.25);
      //}
      @include media-breakpoint-down(lg) {
        border-right: none;
        border-bottom: 1px solid rgba($color: $blue-light, $alpha: 0.25);
        &:first-child {
          border-top: 1px solid rgba($color: $blue-light, $alpha: 0.25);
          border-left: none;
        }
      }
      a {
        color: rgba($light, 0.85);
        font-weight: 700;
        font-size: 0.85rem;
        transition: color 0.2s ease;
        letter-spacing: 0.5px;
        &:hover {
          color: $light;
        }
        &.active {
          color: $accent;
        }
      }
    }
  }

  .header-menu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    .dropdown-toggle {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      appearance: none;
      padding: 0.5rem;
      &::after {
        display: none;
      }
    }
    .dropdown-menu {
      background-color: $blue;
      padding: 0;
      min-width: 200px;
    }
    .dropdown-item {
      padding-bottom: 0.6rem;
      padding-top: 0.6rem;
      font-size: 14px;
      font-weight: bold;
      //color: $blue-light;
      color: #a0b7d0b5;
      &.active,
      &:active,
      &:hover,
      &:focus {
        background-color: transparent !important;
        outline: none;
      }

      &.active {
        color: $primary;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
