<header class="header-container">
  <div class="row m-0">
    <div class="col-md-4 d-flex align-items-start">
      <div class="header-social d-flex align-items-center justify-content-center p-5">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <img class="img-fluid" src="/assets/legalis-logo.png" />
        <div class="input-group mt-5 header-search">
          <input class="form-control" type="search" placeholder="Buscar" />
          <button class="btn btn-outline-light">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start justify-content-end">
      <div class="d-flex flex-column p-5 header-menu">
        <a>INDICE DE GACETA</a>
        <a href="#">ANALISIS</a>
        <a href="#">INFOGRAFIA</a>
        <a href="#">GLOSARIO</a>
        <a href="#">QUIENES SOMOS</a>
      </div>
    </div>
  </div>
</header>
<nav class="header-tabs">
  <div class="tab">
    <a routerLink="/advanced-search" routerLinkActive="active">BUSQUEDA AVANZADA</a>
  </div>
  <div class="tab">
    <a routerLink="/thematic-directory" routerLinkActive="active">DIRECTORIO TEMATICO</a>
  </div>
  <div class="tab">
    <a routerLink="/keywords" routerLinkActive="active">PALABRA CLAVE</a>
  </div>
  <div class="tab">
    <a routerLink="/how-to-search" routerLinkActive="active">COMO BUSCAR</a>
  </div>
</nav>
