@import "/src/theme/theme-variables.scss";

.footer-container {
  background-color: $blue;
  color: #fafafa;

  a {
    color: #fafafa;
  }
}

.border-top {
  border-top: 1px solid $divider-blue-light !important;
}

.border-bottom {
  border-bottom: 1px solid $divider-blue-light !important;
}

.border-lg-end {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $divider-blue-light !important;
  }
}

::ng-deep .carousel-item {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  height: 100%;
  img {
    object-fit: cover !important;
  }
  p {
    margin-bottom: 0 !important;
  }
}
