<div class="footer-container">
  <div class="footer-info">
    <div class="container-fluid">
      <div class="row">
        <section class="col-lg-7">
          <div
            class="footer-nav d-flex flex-wrap text-center text-lg-start align-items-center justify-content-center py-4"
          >
            <div class="d-flex flex-column m-4">
              <a (click)="goTo('/')" class="mb-2">Inicio</a>
              <a (click)="goTo('/busqueda-avanzada')" class="mb-2">Búsqueda Avanzada</a>
              <a (click)="goTo('/directorio-tematico')" class="mb-2">Directorio Temático</a>
              <a (click)="goTo('/palabras-claves')" class="mb-2">Palabra Clave</a>
              <a (click)="goTo('/como-buscar')" class="mb-2">Como buscar</a>
            </div>
            <div class="d-flex flex-column m-4">
              <a (click)="goTo('/gacetas')" class="mb-2">Indice de gaceta</a>
              <a (click)="goTo('/analisis')" class="mb-2">Análisis</a>
              <a (click)="goTo('/infografias')" class="mb-2">Infografía</a>
              <a (click)="goTo('/glosario')" class="mb-2">Glosario</a>
              <a (click)="goTo('/acerca-de')" class="mb-2">Quienes Somos</a>
            </div>
            <div class="d-flex flex-column m-4">
              <a (click)="goTo('/gacetas')" class="mb-2">Indice de gaceta</a>
              <a (click)="goTo('/analisis')" class="mb-2">Análisis</a>
              <a (click)="goTo('/infografias')" class="mb-2">Infografía</a>
              <a (click)="goTo('/glosario')" class="mb-2">Glosario</a>
              <a (click)="goTo('/acerca-de')" class="mb-2">Quienes Somos</a>
            </div>
          </div>
        </section>
        <section class="footer-subscribe col-lg-5 py-md-5 py-4">
          <h6 class="text-light fw-bold text-uppercase mb-2">manténte actualizado</h6>
          <span class="mb-2 text-light">Suscribete a nuestro boletín</span>
          <input class="form-control-email form-control form-control mt-3" placeholder="Correo Electrónico" />
          <div class="d-flex">
            <button class="btn btn-outline-light mt-4 mx-auto">Suscríbete</button>
          </div>
          <div class="footer-social d-none d-md-flex align-items-center justify-content-center mt-4">
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-facebook"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-instagram"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-twitter"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-linkedin"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-telegram"></i>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="footer-social footer-social-sm d-flex d-md-none align-items-center justify-content-center py-4">
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-facebook"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-instagram"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-twitter"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-linkedin"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2">
      <i class="fab fa-telegram"></i>
    </button>
  </div>
</div>
