<div class="footer-container">
  <div class="footer-info">
    <div class="container-fluid">
      <div class="row">
        <section class="footer-news col-lg-6 py-md-5 py-4">
          <h6 class="text-light text-center fw-bold text-uppercase mb-4">publicado en el toque jurídico</h6>
          <div class="">
            <carousel cellWidth="100%" [height]="isSmallScreen ? 350 : 200">
              <div class="carousel-cell" *ngFor="let item of $news | async as list">
                <a href="https://eltoque.com/{{ item.slug }}" target="_blank" class="carousel-item">
                  <div class="carousel-image">
                    <img
                      class="img-fluid"
                      *ngIf="item.feature_image"
                      src="https://api.eltoque.com{{ item.feature_image?.url }}"
                      [alt]="item.feature_image_alt"
                    />
                  </div>
                  <div class="carousel-content">
                    <span class="text-light fw-bold mb-2">{{ item.title }}</span>
                    <small class="text-accent text-small" *ngIf="item.authors?.length"
                      >{{ item.authors[0]?.fullName }}, {{ item.publish_date | date: 'longDate':'':'es-CU' }}</small
                    >
                    <p class="mt-3 mb-0">
                      {{ item.excerpt }}
                    </p>
                  </div>
                </a>
              </div>
            </carousel>
          </div>
        </section>
        <div class="col-lg-1 px-0 d-flex justify-content-center">
          <div class="divider-v d-none d-lg-block"></div>
          <div class="divider-h d-lg-none"></div>
        </div>
        <section class="footer-subscribe col-lg-5 py-md-5 py-4">
          <h6 class="text-light fw-bold text-uppercase mb-3">manténte actualizado</h6>
          <span class="mb-2 text-light">Suscribete a nuestro boletín</span>
          <input class="form-control-email form-control form-control mt-3" placeholder="Correo Electrónico" />
          <div class="d-flex">
            <button class="btn btn-outline-light mt-4 mx-auto">Suscríbete</button>
          </div>
          <div class="footer-social d-none d-md-flex align-items-center justify-content-center mt-4">
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-facebook"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-instagram"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-twitter"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-linkedin"></i>
            </button>
            <button class="btn btn-sm btn-outline-light border-2 me-2">
              <i class="fab fa-telegram"></i>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-nav d-flex flex-wrap text-center text-lg-start align-items-center justify-content-center py-4">
      <div class="d-flex flex-column m-4">
        <a (click)="goTo('/')" class="mb-2">Inicio</a>
        <a (click)="goTo('/advanced-search')" class="mb-2">Búsqueda Avanzada</a>
        <a (click)="goTo('/thematic-directory')" class="mb-2">Directorio Temático</a>
        <a (click)="goTo('/keywords')" class="mb-2">Palabra Clave</a>
        <a (click)="goTo('/how-to-search')" class="mb-2">Como buscar</a>
      </div>
      <div class="d-flex flex-column m-4">
        <a (click)="goTo('/gazettes')" class="mb-2">Indice de gaceta</a>
        <a (click)="goTo('/analysis')" class="mb-2">Análisis</a>
        <a (click)="goTo('/infographics')" class="mb-2">Infografía</a>
        <a (click)="goTo('/glossary')" class="mb-2">Glosario</a>
        <a (click)="goTo('/about')" class="mb-2">Quienes Somos</a>
      </div>
    </div>
  </div>
  <div class="footer-social footer-social-sm d-flex d-md-none align-items-center justify-content-center py-4">
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-facebook"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-instagram"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-twitter"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2 me-4">
      <i class="fab fa-linkedin"></i>
    </button>
    <button class="btn btn-sm btn-outline-light border-2">
      <i class="fab fa-telegram"></i>
    </button>
  </div>
</div>
