@import "/src/theme/theme-variables.scss";

.footer-container {
  background-color: $blue;

  .divider-v {
    display: block;
    width: 1px;
    height: 100%;
    padding: 0;
    background-color: $divider-blue-light;
  }

  .divider-h {
    display: block;
    height: 1px;
    width: 100%;
    padding: 0;
    background-color: $divider-blue-light;
  }

  .footer-info {
    border-bottom: 1px solid $divider-blue-light !important;
  }

  .footer-nav {
    a {
      color: rgba($light, 0.85);
      &:hover {
        color: $light;
      }
    }
  }

  .footer-news {
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(lg) {
      margin-right: 0;
    }
    max-width: 800px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .footer-subscribe {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(lg) {
      text-align: left;
      margin-left: 0;
    }
    .form-control-email {
      box-shadow: 1px 1px 5px 5px rgba($black, 0.025);
      background-color: rgba($color: $light, $alpha: 0.1);
      border: 1px solid rgba($color: $light, $alpha: 0.1);
      color: $light;
      &::placeholder {
        color: rgba($light, 0.5) !important;
      }
      &:focus {
        box-shadow: none;
        color: $light;
      }
    }
  }

  .footer-social {
    button {
      border-color: rgba($light, 0.85) !important;
      color: rgba($light, 0.85) !important;
      &:hover,
      &:focus {
        border-color: transparent !important;
        background-color: $light !important;
        color: $blue !important;
      }
    }
    &.footer-social-sm {
      border-top: 1px solid $divider-blue-light !important;
    }
  }

  ::ng-deep .carousel-item {
    height: 100%;
    display: flex;
    position: relative;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .carousel-image {
      flex-basis: 50%;
      @include media-breakpoint-down(md) {
        height: 50% !important;
      }
      img {
        object-fit: cover !important;
        object-position: center;
        height: 100% !important;
        padding: 0.1rem;
      }
    }
    .carousel-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 1rem;
      flex-basis: 50%;
      line-height: 1;
      box-sizing: content-box;
      @include media-breakpoint-down(md) {
        justify-content: flex-start;
        padding-left: 0;
        padding-top: 1rem;
      }
      p {
        color: rgba($light, 0.85);
        -webkit-line-clamp: 5;
      }
    }
  }
}
