<div class="thematic-directory container p-5">
  <div class="row">
    <div class="col-sm-3 bg-blue p-4 text-light d-flex flex-wrap">
      <div class="d-flex flex-column align-items-center p-2">
        <i class="fa fa-home fa-3x"></i>
        <span>Administrativa</span>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <i class="fa fa-home fa-3x"></i>
        <span>Administrativa</span>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="d-flex flex-column">
        <h6 class="text-accent mb-1">DIRECTORIO TEMATICO</h6>
        <span class="text-blue text-italic">Normativa vigente</span>
      </div>
      <div class="divider"></div>

      <div class="d-flex align-items-center my-4">
        <i class="fas fa-home fa-3x me-4"></i>
        <h6 class="text-blue me-4 mb-0">VIVIENDA</h6>
        <span class="text-accent"> 15 Normativas vigentes relacionadas </span>
      </div>

      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span class="text-accent fw-bold">Ley General de la Vivienda</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span class="text-accent fw-bold">Ley General de la Vivienda</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span class="text-accent fw-bold">Ley General de la Vivienda</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
